extends layout

block content
    h1=day
    p #{["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"][date.getDay()]}, #{date.getDate()}. #{["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Auf", "Sep", "Oct", "Nov", "Dec"][date.getMonth()]}, #{date.getUTCFullYear()}

    if error
        p=error

    #today
        if today
            each i in today
                div.day=i
        else
            p In order to view your day, please #[a(href="/request-vip") request to join].

    nav#calcs
        a(href="/absolute")
            button Absolute Calculator

        a(href="/relative")
            button Relative Calculator
